header
    .header
        .header__wrapper
            .header__top
                .link.header__link
                    a(href="#") работать с нами
                .logo.header__logo
                    img(src="/img/icons/logo-white.png", alt="")
                .burger.header__burger
                    .burger__lines
                        .burger__line        
                        .burger__line        
                        .burger__line
                    p.burger__text меню
            .header__body
                .soc.header__soc
                    .soc__item
                        a(href="#")
                            img(src="/img/icons/behance.png", alt="Behance link")
                    .soc__item
                        a(href="#")
                            img(src="/img/icons/facebook.png", alt="Facebook link")
                    .soc__item
                        a(href="#")
                            img(src="/img/icons/instagram.png", alt="Instagram link")
                    .soc__item
                        a(href="#")
                            img(src="/img/icons/vk.png", alt="VK link")
                .header__content
                    .header__text
                        .header__links
                            a.header__link(href="#") WEBSITE
                            a.header__link(href="#") DESIGN
                            a.header__link(href="#") BRANDING
                        h1.header__title.
                            selecta
                            light    
                    .header__arrow
                        img(src="/img/header/arrow.png", alt="")
                p.header__vertical-text easy digital agency